body{
  background-image: url(../img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo img{
  margin: 5%;
  width: 100%;
  border-radius: 20px!important;

}
.buttons-nav a{
  margin: 1%;
}
.buttons-nav{
  text-align: right;
}
h4{
  color: white;
}
.redes-sociales{
  height: 3000px;

}
.redes-sociales img{
  width: 50px;
  margin: 1%;
}
.galeria{

}
.galeria img{
  width: 100%;
}

@media (max-width: 760px){
  .redes-sociales img{
    width: 35px;
    margin: 0.5%;
  }
}

@media (max-width: 420px){
  .buttons-nav a{
    margin: 3%;
    font-size: 0px;
}
